@import url("/styles/reset.css") only screen;

:root {
    --margin: 20px;
    --max-width: 900px;

    --font-family: "Courier";

    --body-size: 15px;
    --body-line-height: 22px;
    --body-letter-spacing: -0.013em;
    --body-weight: 500;

    --strong-weight: 700;

    --system-white: #fff;
    --system-black: #000;
    --system-red: #f26f42;
}

body {
    margin: 0 auto;
    padding: 50px;
    max-width: var(--max-width);
    font-family: var(--font-family);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
    background-color: var(--system-white);
    color: var(--system-black);
    overflow-wrap: anywhere;
    hyphens: auto;
}

header {
    grid-area: header;
    padding-bottom: var(--margin);
    border-bottom: 2px solid var(--system-black);
}

header h1 {
    margin: 0;
}

header p {
    margin: 0 !important;
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    letter-spacing: var(--body-letter-spacing);
}

article {
    margin-bottom: var(--margin);
    padding-bottom: var(--margin);
    border-bottom: 2px solid var(--system-black);
}

section {
    margin-bottom: var(--margin);
}

section *:last-child {
    margin-bottom: 0;
}

h1 {
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--strong-weight);
    letter-spacing: var(--body-letter-spacing);
    color: var(--system-black);
}

h2 {
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--strong-weight);
    letter-spacing: var(--body-letter-spacing);
}

h3 {
    font-size: var(--body-size);
    line-height: var(--body-line-height);
    font-weight: var(--strong-weight);
    letter-spacing: var(--body-letter-spacing);
}

h4,
h5,
h6,
strong {
    font-weight: var(--strong-weight);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
table {
    margin: var(--margin) 0;
}

h1 a,
h2 a,
h3 a {
    color: var(--system-black);
    text-decoration: none;
}

a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: var(--system-black);
}

a:hover {
    text-decoration: underline;
}

em {
    font-style: italic;
}

em a {
    color: inherit;
}

h1 em {
    font-style: normal;
    font-weight: 300;
    color: var(--system-black);
}

img {
    width: 100%;
}

blockquote {
    position: relative;
    padding: 20px;
    font-style: italic;
    overflow: hidden;
}

blockquote::after {
    position: absolute;
    content: "";
    right: -20px;
    bottom: -20px;
    width: 40px;
    height: 40px;
    background-color: var(--system-white);
    transform: rotate(45deg);
}

blockquote::before {
    position: absolute;
    content: "";
    right: -12px;
    bottom: -12px;
    width: 40px;
    height: 40px;
}

hr {
    display: block;
    margin: calc(var(--margin) * 2) 0;
    border: none;
    height: 2px;
    background-color: var(--system-black);
}

/* Pagination */
/* ------------------------------------------------------------------ */

.pagination {
    font-family: var(--sans-text);
    font-size: 14px;
    line-height: 20px;
}

.pagination li::before {
    content: "";
}

.pagination .page-item {
    display: inline-block;
}

.pagination .page-item a {
    display: inline-block;
    padding: 5px 12px;
    border: 1px solid var(--system-black);
    text-decoration: none;
    color: var(--system-black);
}

.pagination .page-item a:hover {
    background-color: var(--system-black);
    color: var(--system-white);
}

.pagination .disabled a,
.pagination .disabled a:hover {
    opacity: 0.2;
}

.pagination .disabled a:hover {
    background: none;
    color: var(--system-black);
}

.pagination .active a,
.pagination .active a:hover {
    background-color: var(--system-black);
    color: var(--system-white);
}

.pagination .page-item a[aria-label="First"] span,
.pagination .page-item a[aria-label="Last"] span,
.pagination .page-item a[aria-label="Previous"] span,
.pagination .page-item a[aria-label="Next"] span {
    display: none;
}

.pagination .page-item a[aria-label="First"]:after {
    content: "⇐";
}

.pagination .page-item a[aria-label="Previous"]:after {
    content: "←";
}

.pagination .page-item a[aria-label="Next"]:after {
    content: "→";
}

.pagination .page-item a[aria-label="Last"]:after {
    content: "⇒";
}
